@model List<EShop.Domain.DomainModels.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <a class="btn btn-success" style="width:200px; margin-left:28px" asp-action="Create">Insert New Product</a>
    </div>

    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        @if(i%3 == 0)
        {
            @:<div class="row">
        }

                <div class="col-3 m-3">

                    <div class="card" style="width: 20rem; height: 30rem;">
                        <img class="card-img-top" src="@item.ImageURL" style="height: 50%;" alt="Image for product!">

                        <div class="card-body">
                            <h3 class="card-title">@item.Name</h3>
                            <p class="card-text">@item.Description</p>


                            <h6>Price: @item.Price ДЕН</h6>
                        </div>

                        <div class="card-footer">
                            <a asp-controller="Products" asp-action="AddProductToCart" asp-route-id="@item.Id" class="btn btn-info">Add to Cart</a>
                            <a asp-controller="Products" asp-action="Edit" asp-route-pid="@item.Id" class="btn btn-secondary">Edit</a>
                            <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>

                </div>

        @if(i%3 == 2) 
        {
            @:</div>    
        }
    }

</div>
